<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Result</title>
</head>

<body>
    <center>
        <h1>Resultados</h1>
        <details>
            <summary><h2>Minimo y Maximo</h2></summary>
            <h3>Minimo: {{min}}</h3>
            <h3>Maximo: {{max}}</h3>
        </details>
        <details>
            <summary>
                <h2> Media, Mediana, Moda, Varianza y Desviacion</h2>
            </summary>
            <h3>Media: {{media}}</h3>
            <h3>Mediana: {{mediana}}</h3>
            <h3>Moda: {{moda}}</h3>
            <h3>Varianza: {{varianza}}</h3>
            <h3>Desviacion: {{desviacion}}</h3>
        </details>
        <details>
            <summary>
                <h2> Distribución Normal</h2>
            </summary>
            <img src='http://127.0.0.1:8887/gaussiana.png' alt="campana">
        </details>
    </center>

</body>

</html>